<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tomal.jupitarplatform">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="andriod.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".central_station_lead_Activity" />
        <activity android:name=".Lead_central_Activity" />
        <activity android:name=".Create_lead_activity" />
        <activity android:name=".Date_Range" />
        <activity android:name=".Details_Activity" />
        <activity android:name=".Take_Image" />
        <activity android:name=".Take_Video" />
        <activity android:name=".Ratting_Activity" />
        <activity android:name=".ViewNotesActivity"></activity>
    </application>

</manifest>