<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tomal.jupitarplatform">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="andriod.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_jupiter"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_jupiter_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CentralStationLeadActivity" />
        <activity android:name=".LeadCentralActivity" />
        <activity android:name=".CreateLeadActivity" />
        <activity android:name=".DateRangeActivity" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".TakeImageActivity" />
        <activity android:name=".TakeVideoActivity" />
        <activity android:name=".RatingActivity" />
        <activity android:name=".ViewNotesActivity" />
        <activity android:name=".PrivacyStatementActivity" />
        <activity android:name=".AboutUsActivity"/>
    </application>

</manifest>